[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-test-plus = "*"
django-taggit = "*"
python-slugify = "*"
django-markdownx = "*"
django-contrib-comments = "*"
channels = "*"

[requires]
python_version = "3.6"
